@model List<Product>;
     <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>@ViewBag.Cat</h2>
          <p>نقدم لكم افضل المنتجات بأفل الاسعار </p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
               @* @foreach (var item in Model.Categories)
                    {
                         <li data-filter=".@item.DataFilter" class="filter-active">@item.Name</li>
                    }*@
                   
            @*  <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>*@
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
            @foreach(var item in Model){
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="~/assets/img/portfolio/@item.Photo" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>@item.Name</h4>
                <p>@item.Price $</p>
              </div>
              <div class="portfolio-links">
                <a href="~/assets/img/portfolio/@item.Photo" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                <a href="/Home/Product/@item.Id" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
                }

        </div>

      </div>
    </section><!-- End Portfolio Section -->

